/* Подключаем шрифты */
@font-face {
    src: url("../fonts/OpenSans-Regular.woff");
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
}
@font-face {
    src: url("../fonts/OpenSans-Bold.woff");
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
}

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
 
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
  
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Задаём варианты поведения ссылок */
a {
    text-decoration: none;
    color: inherit;    
}

.link-underline:hover {   
    text-decoration: underline;
}

.link-color:hover {
    color: #b59f5b;
}

/* Задаем общий вид списков */
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Основной контейнер */
body {  
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* Блок шапка сайта *******************************************/
.header {       
    min-height: 400px;
    color: #ffffff;    
    background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg") no-repeat top center;
    background-size: cover;
    background-color: #000000;
}

.header-wrapper {
    width: 1200px;
    padding: 25px 15px;
    margin: auto; 
}

.header__flex-box-top {
    position: relative;
    display: flex;    
    justify-content: space-between;
    align-items: flex-start; 
}

.header__logo {       
    min-width: 179px;  
    padding: 2px 3px;   
}

/* Навигация */
.header__nav-list {
    display: flex;       
}

.header__nav-item {   
    margin-left: 34.5px;
    font-size: 13px;
    list-style: none;    
}

/* Заголовок */
.header-text {       
    margin: 100px auto;
    width: 690px;   
    font-size: 45px;
    line-height: 75px; 
    text-align: center; 
    text-transform: uppercase;
    font-weight: bold;     
}

/* Тело сайта ************************************************/
main {
    margin: 60px 0 0;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    padding: 0 10px;
}

/* Основной контент *****************************************/
.post-list { 
    width: 780px;
    padding: 0 5px;    
}

.post-list__card {
    display: flex;
    margin-bottom: 58px;
}

.post-list__card img {
    width: 391px;
    background-color: #eff6f1;
    padding-top: 3px;
}

.post-list__card-content {
    margin-left: 30px;    
}

.post-list__card-category {
    margin: 0;
    padding: 0;
}

.post-list__card-category li {
    display: inline;    
}

.post-list__card-category-link {
    margin-right: 14px;   
    font-size: 14px;    
    color: #b59f5b;
    font-weight: 700;
    text-transform: uppercase;
}

.post-list__card-header {
    margin: 7px 0 27px;    
    line-height: 24px;
    letter-spacing: 0.1px;
    font-size: 20px;    
    font-weight: 700; 
    text-transform: uppercase;
}

.post-list__card-data {
    font-size: 12px;    
    color: #888888;
}

.post-list__card-author {    
    padding-left: 8px;
    font-size: 12px;    
    font-weight: 700;    
}

.post-list__card-text {    
    margin-top: 45px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
}

.post-list__card-text-item {
    margin: 11px 0;
}

/* Боковая панель *******************************************/
.side-bar {    
    width: 276px;
}

.side-bar__header {  
    margin: 0;      
    text-align: center;
    font-size: 14px;    
    color: #0f0d0e;    
    font-weight: 700;
    text-transform: uppercase;
}

.side-bar__header::after {
    content: "";
    display: block;
    margin: 11px auto 0;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 40%;
}

/* Карточки новостей */
.side-bar__cards {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.side-bar__card {
    display: flex;  
    justify-content: space-between;
    width: 270px;
    margin-top: 21px;
}

.side-bar__card img { 
    margin-top: 1px;   
    height: 70px;
    width: 70px;
    font-size: 12px;    
}

.side-bar__content {
    width: 183px;
}

.side-bar__card time {        
    vertical-align: top;
    font-size: 12px;
    color: #7e7e7e;     
}

.side-bar__content-header { 
    margin: -1.8px 0 0;        
    font-size: 14px; 
    line-height: 18px;   
    font-weight: 700; 
    text-transform: uppercase; 
    letter-spacing: 0.1px;    
}

/* Общий вид форм */
.side-bar input {
    height: 49px;
    padding-left: 18px;
    font-family: inherit;
    font-size: 13px;    
    background-color: #f4f7f6;
    border: 0;    
    outline: none;
}

.side-bar input:focus {    
    border: 1px solid #b59f5b;    
}

/* Форма поиска */
.side-bar__search {
    margin-top: 55px;
}

.side-bar__search form {
    display: flex;
}

.side-bar__search input {        
    width: 222px;         
}

.side-bar__search button {      
    width: 49px;
    height: 49px;
    border: 0;    
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg") no-repeat center center, linear-gradient(#b59f5b, #b59f5b);
    background-size: 18px;
}

.side-bar__search button:hover {
    cursor: pointer;
    background: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg") no-repeat center center, linear-gradient(#323232, #323232);
    background-size: 18px;
}

/* Подписка на рассылку */
.side-bar__subscribe {   
    margin-top: 60px;     
    width: 276px;
    height: 164px;
    padding: 0 8px 0 0; 
}

.side-bar__subscribe input {
    margin-top: 21px;
    width: 272px;  
}

.side-bar__subscribe button {
    margin-top: 19px;    
    height: 49px;
    width: 272px;  
    font-size: 14px;    
    color: #ffffff;
    font-weight: 700;
    background-color: #b59f5b;
    border: 0;
}

.side-bar__subscribe button:hover {
    cursor: pointer;
    background:#323232;
}

/* Теги */
.side-bar__tags {
    margin-top: 60px;
}

.side-bar__tags-box {
    margin-top: 25px;   
    padding: 0;
    display: flex;
    flex-wrap: wrap;    
}

.side-bar__tags-box li {
    margin: 4px 5px 12px 0;    
}

.side-bar__tag {    
    height: 30px;
    padding: 5px 14px;
    font-size: 12px;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(244,243,241,0);
    border: 3px solid #eeeeee;
}

.side-bar__tag:hover {
    border: 3px solid #b59f5b;
    cursor: pointer;
}

/* Темы */
.side-bar__categories {
    margin-top: 55px;
}

.side-bar__categories ul {
    margin-top: 22px;
}

.side-bar-item {
    margin-bottom: 10px;
    padding: 0 0 14px;
    list-style: none;
    font-size: 14px;  
    font-weight: 700;
    border-bottom: 2px solid #eeeeee;;
}

.side-bar-sup {
    padding-left: 4px;
    font-size: 12px;
    color: #b59f5b;
    vertical-align: super;
}

/* Подвал */
.footer-wrapper {    
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__address {
    margin: 0 0 70px;
    padding: 30px 0;    
    background-color: #f4f7f6; 
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.footer__social>li:not(:first-child) {
    margin-left: 20px;
}

.footer__link {
    display: block;
    height: 20px;
    width: 20px;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__link_twitter {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");    
}

.footer__link_pinterest {    
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");    
}

.footer__link_tumblr {    
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");  
}

.footer__copyrights {
    display: block;
    padding-left: 11px;
    font-size: 12px;    
    color: #999999;
    font-weight: 700;
    text-align: center;
}

.footer__copyrights:hover {
    cursor: pointer;
}